.contactTable {
    text-align:center;
    padding-top: 70px;
    padding-bottom: 50px;
    color: #FFFFFF;
    background: #E27866;

    h2 {
        font-size: 36px;
    }

    p {
        color: #FFFFFF; 
        font-size: 14px;
        font-weight: 300;
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

.weather-temp {
    display: flex;
    color: #fff;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 39%;

    .city {
        font-size: 12px;
        font-weight: 300;
        padding-left: 25px;
        padding-top: 5px;
    }

    img {
        padding-right: 10px;
    }

    #city-weather {
        font-size: 12px;
        font-weight: 300;
        padding-left: 20px;
        padding-top: 5px;
    }

}

.form-box2 {        
    max-width: 390px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(85, 83, 83, 0.671);
    margin: 0 auto;


    button {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        background-color: #41D395;
        cursor: pointer;
        width: 160px;
        height: 50px;
        margin-bottom: 30px;
        
        border-color: transparent;
        border-radius: 5px;

    }

    .form {
        display: flex;
        flex-direction: column;

    } 
    input {
        font-size: 12px;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 22px;
        margin-left: 60px;
        margin-right: 60px;
        border-top: #ffffff00;
        border-left: #ffffff00;
        border-right: #ffffff00;
        border-bottom: 1px solid rgba(185, 181, 181, 0.932);
        width: 260px;
    }
    }

    .rows {
        display: flex;
        margin-left: 65px;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .radio-input-wrap2 {
        flex-direction: row;
        margin-left: 17px;

        .abc {
            font-size: 9px;
            display: none;
        }

        .abc:checked ~ label::before {
            background: #41D395;
            box-shadow: inset 0px 0px 0px 2px #fff;
        }

        
        .label2 {
            text-transform: uppercase;
            cursor: pointer;
            color: #524f4f;
            font-size: 9px;
            font-weight: 600;

            &:before {
                content: '';
                display: inline-block;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                border: 1px solid #41D395;
                transition: 0.3s ease-in-out;
                margin-right: 5px;
            }
        }
    }