header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1C1C1C;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;

        nav {
            ul {
                list-style: none;
                display: flex;
                padding: 0;

                li {
                    color: #fff;
                    opacity: 0.6;

                    &:not(:last-child) {
                        margin-right: 45px;
                    }
                }
            }
        }
    }
}