.hero {
    
    position: relative;
    margin-top: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 200px 0;
    background-image: url("/images/hero.jpg");
    background-size: cover;
    background-position: center center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        opacity: 0.63;
    }

    .container {
        display: flex;
        z-index: 999;

    .column {
        flex-direction: row;

      
        img {
            padding-bottom: 23px;
        }
        
    }
    }

    .form-box {        
        max-width: 500px;
        width: 100%;
        border-radius: 5px;
        background-color: #fff;

        .form-row {
            display: flex;
            flex-direction: column;
           
            
        h2 {
            color: black;
            font-size: 20px;
            padding-top: 17px;
            padding-bottom: 16px;
            background-color: #F5F5F5;
            text-align: center;

            
            
        }

        p {
            font-size: 16px;
            font-weight: 900;
            padding-top: 20px;
            padding-bottom: 22px;
            padding-left: 51px;

        }

        input {
            color:black;
            font-size: 12px;
            margin-top: 20px;
            margin-bottom: 22px;
            margin-left: 51px;
            margin-right: 51px;
            border-top: #ffffff00;
            border-left: #ffffff00;
            border-right: #ffffff00;
            border-bottom: 1px solid #DDDDDD;
            width: 260px;
        }
        }

        .row {
            display: flex;
            font-size: 9px;
            
            margin-left: 34px;
            margin-bottom: 42px;
        }
        .radio-input-wrap {
            flex-direction: row;
            margin-left: 17px;
            
            input {
                font-size: 9px;
                display: none;
            }

            input:checked ~ label:before {
                background: #41D395;
                box-shadow: inset 0px 0px 0px 2px #fff;
            }

            label {
                text-transform: uppercase;
                cursor: pointer;
                color: #000000;

                &:before {
                    content: "";
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    border: 1px solid #41D395;
                    transition: 0.3s ease-in-out;
                    margin-right: 5px;
                }
            }
        }
    }
}

.title {
    position: relative;
    font-size: 36px;
    color: #FFFFFF;
    padding-bottom: 66px;

    &:after {
        content: "";
        position: absolute;
        width: 84px;
        height: 2px;
        top: 110px;
        left: 5px;
        background-color: #FFFFFF;
}}

.h5 {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 44px;
    padding-right: 99px;
}

.download {
    border: 2px solid #FFFFFF;
    padding: 12px 22px;
    background-color: #42080800;
    color: #FFFFFF;
}


@media (max-width: 830px) { 
    .hero {
        display: flex;
    
    .container {
        display: inline-block;
    

        .form-box {
        .form-row {
            margin-top:30px;
    }}}}}
    