.hero {
    
    position: relative;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 200px 0;
    background-image: url("../images/hero.jpg");
    justify-content: flex-start;
    background-size: cover;
    background-position: center center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        opacity: 0.63;
    }

    .container {
        display: flex;
        z-index: 999;

    
        img {
            padding-bottom: 100px;
        }
        
    }
    
    .form-box {        
        max-width: 500px;
        height: 450px;
        width: 100%;
        border-radius: 9px;
        background-color: #fff;

        .form-row {
            display: flex;
            flex-direction: column;
           
            
        .form-top {
            color: black;
            font-size: 20px;
            padding-top: 17px;
            padding-bottom: 16px;
            background-color: #F5F5F5;
            text-align: center;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
        }

        .form-bottom {
            border-style: none;
            color: white;
            font-size: 24px;
            padding-top: 17px;
            padding-bottom: 16px;
            text-align: center;
            background-color: #41D395;
            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
            cursor: pointer;
        }

        p {
            font-size: 14px;
            font-weight: 900;
            padding-top: 20px;
            padding-bottom: 25px;
            padding-left: 50px;

        }

        input {
            color:black;
            font-size: 12px;
            margin-top: 20px;
            margin-bottom: 22px;
            margin-left: 51px;
            margin-right: 51px;
            border-top: #ffffff00;
            border-left: #ffffff00;
            border-right: #ffffff00;
            border-bottom: 1px solid #c2c2c2ee;
            width: 260px;
        }
        }

        .rows {
            display: flex;
            justify-content: space-around;
            font-size: 12px;
            margin-left: 20px;
            margin-bottom: 40px;
        }

        .radio-input-wrap {
            flex-direction: row;
            margin-right: 10px;
            
            input {
                font-size: 9px;
                display: none;
            }

            input:checked ~ label:before {
                background: #41D395;
                box-shadow: inset 0px 0px 0px 2px #fff;
            }

            label {
                text-transform: uppercase;
                cursor: pointer;
                color: #3a3737;
                font-size: 10px;
                font-weight: 600;

                &:before {
                    content: "";
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    border: 1px solid #41D395;
                    transition: 0.3s ease-in-out;
                    margin-right: 5px;
                }
            }
        }
    }
}

.name {
    position: relative;
    font-size: 36px;
    color: #FFFFFF;
    padding-bottom: 66px;

    &:after {
        content: "";
        position: absolute;
        width: 84px;
        height: 2px;
        top: 110px;
        left: 5px;
        background-color: #FFFFFF;
}}

.h5 {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 44px;
    padding-right: 99px;
}

.download {
    border: 2px solid #FFFFFF;
    padding: 10px 30px;
    background-color: #42080800;
    color: #FFFFFF;

    a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 14px;
    }
}


@media (max-width: 800px) { 
    .hero {
        display: flex;
    
    .container {
        display: inline-block;
    

        .form-box {
        .form-row {
            margin-top:30px;
        }
    }
}}}