.testimonials {
    padding: 20px 0;
    background-color: #FFFFFF;

    .testimonials-h2 {
        font-size: 36px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 90px;
        padding-top: 70px;
        

        &:after {
            content: "";
            position: absolute;
            width: 90px;
            height: 2px;
            margin-top: 90px;
            left: 45%;
            background-color: #6696E2;

            @media (max-width: 990px) {
                left: 42%;}
            
    }
    }

    .reviews-swiper {
        .text {
            margin-top: 10px;
        }

        .single-review {
            padding-top: 22px};

        .single-review {
            user-select: none;
            .text {
                background-color: #6696E2;
                border-radius: 8px;
                position: relative;

                
                
                &:after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 25px;
                    border: 10px solid transparent;
                    border-top: 0;
                    border-top: 10px solid #6696E2;}

                p {
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 1.375;
                    color: #fff;
                    padding: 20px 20px 20px 20px;

                }
                
                
            }
        }

        .swiper-pagination {
            position: static;
            margin-top: 85px;
            line-height: 0;
            margin-bottom: 30px;

            .swiper-pagination-bullet {
                margin: 0;
                width: 10px;
                height: 10px;
                border: 1px solid #E27866;
                background-color: transparent;
                opacity: 1;

                &:not(:last-child) {
                    margin-right: 20px;
                }

                &-active {
                    background-color: #E27866;
                }
            }
        }
    }
}

.client {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
    user-select: none;
}

.client1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/people/person1.jpg");
    background-size: cover;
    background-position: center center;
}

.client2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/people/person2.jpg");
    background-size: cover;
    background-position: center center;
}

.client3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/people/person3.jpg");
    background-size: cover;
    background-position: center center;
}

.client4 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/people/person4.jpg");
    background-size: cover;
    background-position: center center;
}

.client5 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/people/person5.jpg");
    background-size: cover;
    background-position: center center;
}

.client6 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/people/person6.jpg");
    background-size: cover;
    background-position: center center;
}

.client7 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/people/person7.jpg");
    background-size: cover;
    background-position: center center;
}

.client8 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/people/person8.jpg");
    background-size: cover;
    background-position: center center;
}

.client9 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/people/person9.jpg");
    background-size: cover;
    background-position: center center;
}

.clients-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

        #person {
            font-size: 18px;
            font-weight: 400;
            padding-top: 10px;
            padding-left: 20px;
        }

        #profession {
            font-size: 14px;
            font-weight: 300;
            color: #86878B;
            padding-left: 20px;
        }
    }