.why {
    padding-top: 100px;
    text-align: center;


    @media (max-width: 990px) {
        padding-bottom: 60px;
    }

    .why-h2 {
        position: relative;
        padding-bottom: 50px;
        font-size: 40px;
        color: #212121;
        font-weight: 600;

        &:after {
            content: "";
            position: absolute;
            width: 70px;
            height: 2px;
            margin-top: 80px;
            background-color: #E27866;
            left: 48%;
            opacity: 1;
        }
    }

    .why-box {
        display: flex;
        padding-bottom: 40px;
        margin-left: 20%;
        width: 70%;
        align-content: space-around;

        @media (max-width: 830px) { 
            display: inline;}
    }

    .why-h3 {
        color: #3a3737;
        font-weight: 400;
        padding-top: 30px ;
    }

    .why-row {
        flex-direction: column;
        padding-top: 60px;
    }
    
    .p1 {
        font-size: 14px;
        font-weight: 300;
        color: #919294;
    }

    .p2 {
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        color: #919294;
        padding-top: 30px;
        padding-bottom: 70px;
        width: 290px;
    }

    .middle {
        padding-left: 70px;
        padding-right: 70px;
    }
}